# anything generated here
/Debug*
/Release*

#	python compiled files
*pyc

#	our test executable(w)

CollectorApp
Collector

#	log file

*log*

tag*
.tags
.vscode

.cache
*.dat

company_tickers*

dir.list
src_beast
src_httplib

